.DS_Store
# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
package-lock.json
yarn-error.log
node_modules
.cache/
# Build directory
public/
static/admin/*.bundle.*
.idea/
.env
