/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";
@import "~buefy/src/scss/buefy";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/search";

.header-anchor {
  display: none;
}

.bar-footer {
  padding: 14px 0;
  background: $back-darkest;
}

.bar-footer-entry > a {
  color: #c8cbce;
}

.bar-footer-inner {
  display: flex;
  // justify-content: flex-start; 
  align-items: flex-start;
  flex-direction: row;
}
.bar-footer-entry {
  margin-left: 10px;
  padding-right: 20px;
  font-size: 10px;
  text-align: center;
}

.bar-footer-entry-right {
  align-items: flex-end;
  margin-left: auto;
}


.bar-link {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 14px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
  color: $white;
  transition: background 0.3s, border-color 0.3s;

  &:hover {
    background: $primary;
    border-color: $primary;
    color: $white;
  }
}


i {
  border: solid $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.logo-containter {
  display: flex;
}

.logo-containter-child {
  font-size: 1.7em;
  font-weight: 900;
  color: $white;
  margin-left: 10px;
}

.logo-containter-child-img {
  width: 50px;
  padding: 1px;
  color: $white;
}



.menu-container {
  display: inline-flex;
  margin-right: 12px;
  align-items: flex-end;
  flex-direction: row;
  max-width: 100%;
  flex: 1 1 100%;
  padding-left: 40px;
}

.menu-item {
  padding: 1px;
  align-self: flex-end;
}

hr {
  background-color: #c8cbce;
  border: none;
  display: block;
  height: 1.2px;
  //margin: 1.5rem 0;
  margin-top: -15px;
}


// #################### FOOTER

.footer-container {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 700px;
  // margin-left: 30px;
}

.footer-container-child {
  color: #d5d5d5;
  width:200px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-right: 10px;
}


.footer-container1 {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  // align-content: space-around;
  // width: 700px;
  margin-left: 30px;
}

.footer-container1-child {
  color: #d5d5d5;
  // width:180px;
  align-items: flex-end;
}

.footer-container1-child-right {
  margin-right: 30px;
  margin-left: auto;
}

.hero.is-primary {
  background-color: $dark;
  color: #fff;
}

div.content.custom > main > section > div > div > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;  
  font-weight: 900;
}



.button {
  margin-top: 15px;
  margin-right: 10px;
  height: auto;
  padding: 9px 35px;
  transition: background 0.3s;

  background: $white;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  // border: 1px solid $white;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  // text-transform: uppercase;
  text-transform: none !important;
  color: $dark !important;
  transition: background 0.3s, border-color 0.3s;

  &:hover {
    background: $primary;
    border-color: $primary;
  }

}

.button-red {
  background: $dark-gray;
  border-color: $dark-gray;
  color: $white !important;
}

 .hero-background {
  background-image:url('/images/hero-image.svg');
  background-size: cover;
 }

 .hero.is-primary {
  background-color: unset;
}

.hero.is-primary {
  background-color: unset;
}


// ############ SECTION HOME 1 #################

.section-bg-blue {
  color: $white;
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
}

.section-bg-blue-child {
  color: $white;
  margin: 90px;
  width: 350px;
  z-index: 200;
  h4 {
    // font-size: 22pt;
    color: $white;
    text-transform: uppercase;
  }
}

.section-bg-blue-child-left {
  margin-left: 120px;
  z-index: 200;
  position: relative;
}

.section-bg-blue-child-imageset1 {
  width: 500px;
  margin-left: 0px;
  margin-top: -100px;
  z-index: 100;
}

.section-bg-blue-child-imageset3 {
  width: 550px;
  margin-left: 20px;
  padding-right: 20px;
}

.section-bg-blue-child-imageset4 {
  width: 310px;
  margin-left: 180px;
  margin-top: -120px;
}

// ############ SECTION HOME 2 #################

.section-bg-white {
  color: $dark;
  background-image:url('/images/background-shapes-white.svg');
  background-size: cover;
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.section-bg-white-center {
  color: $white;
  margin: 90px;
  width: 750px;
  z-index: 200;
  h4 {
    // font-size: 22pt;
    color: $white;
    text-transform: uppercase;
  }
}

.section-bg-white-child {
  color: $dark;
  margin: 90px;
  width: 550px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;


  h4 {
    // font-size: 22pt;
    color: $dark;
    text-transform: uppercase;
    margin-top: 0px;
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p {
    color: $dark;
  }
}



// ############ SECTION HOME 2 - ICONS #################


.section-bg-white-icons1 {
  display: flex;
  justify-content: space-between;
  width: 550px;
  margin-top: -50px;
}

.section-bg-white-icons-child1 {
  display: flex;
  flex-direction: column;
  p {
    width: 70px;
    text-align: center;
  }
}


.section-bg-white-icons2 {
  display: flex;
  justify-content: space-around;
  width: 550px;
  margin-top: 30px;
}

.section-bg-white-icons-child2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    width: 120px;
    text-align: center;
  }
}



.section-bg-white-icons3 {
  display: flex;
  justify-content: space-around;
  width: 550px;
  margin-top: 15px;
}

.section-bg-white-icons-child3 {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    width: 120px;
    text-align: center;
  }
}

// ############ SECTION HOME 2 - GREEN #################


.section-bg-green {
  color: $dark;
  background-image:url('/images/background-shapes-green.svg');
  background-size: cover;
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-bg-green-child {
  color: $dark;
  margin: 90px;
  margin-top: 0px;
  width: 850px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: $white;

  h4 {
    // font-size: 22pt;
    color: $dark;
    text-transform: uppercase;
    margin-top: 0px;
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p {
    color: $dark;
  }
}

.section-bg-green-logos-container {
  display: flex;
  justify-content: space-around;
}
.section-bg-green-logo {
  color: red;
  margin: 30px;
  width: 70px;
}

// ############ SECTION HOME 2 - BLUERED #################


.section-bg-bluered {
  color: $dark;
  background-image:url('/images/background-shapes-bluered.svg');
  background-size: cover;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-bg-bluered-child {
  color: $white;
  margin: 90px;
  margin-top: 0px;
  width: 850px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  // background-color: $white;

  h3{
    color: $white;
    text-transform: uppercase;
    margin-top: 0px;
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p-bluerd1 {
    color: $white;
    margin-bottom: 2px !important;
  }
}


// ############ SECTION HOME 2 - LIGHTBLUE #################


.section-bg-lightblue {
  color: $dark;
  background-image:url('/images/background-shapes-lightblue.svg');
  background-size: cover;
  margin-top: -170px;
  justify-content: center;
  align-items: center;
  height: 250px;
}



// ############### home section 5 - home-s5 #############

.home-s5-main {
  color: $dark;
  background-image:url('/images/background-shapes-bluered.svg');
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 60px;
  margin-top: -30px;
}

.home-s5-container1 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.home-s5-container1-child {
  text-align: center;
  align-self: center;
  color: $white;
  width: 50%;
  p.l1 {
    margin-bottom: -20px;
    padding-bottom: 0px;
/*     color: red;  
 */  }
  h3 {
    color: $white;
  }
}


.home-s5-container2 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

}

.home-s5-container2-child1 {
  background-image:url('/images/home/picture1.svg');
  background-size: cover;
  color: $white;
  width: 45%;
  padding: 150px;
  margin-top: 100px;
  height: 610px;

  p {
    margin-top: 10px;
    padding-bottom: 0px;
 }
  h3 {
    margin-top: 100px;
    color: $white;
  }
}

.home-s5-container2-child2 {
  background-image:url('/images/home/picture2.svg');
  background-size: cover;
  color: $white;
  width: 45%;
  padding: 150px;
  margin-top: 100px;
  height: 610px;

  p {
    margin-top: 10px;
    padding-bottom: 0px;
 }
  h3 {
    margin-top: 100px;
    color: $white;
  }
}


.home-s5-container3 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

}

.home-s5-container3-child {
  
  margin-top: 100px;
  
}




// ############ home section 6


.home-s6-main {
  color: $dark;
  background-color: $white;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 20px;

  .columns {
    .column {
      &:first-child{
        max-width:450px;
        margin-left:80px;
        img {
          margin-bottom:25px;
        }
      }
      &:last-child{
        //max-width:450px;
        margin-left:80px;
        img {
          width: 500px;
          max-width: unset;   
          &:last-child {
            margin-left: 140px;
            margin-top: -100px;
          }     
        }
      }
    }
  }

}



// ############ home section 7


.home-s7-main {
  color: $dark;
  background-image:url('/images/background-shapes-lightblue.svg');
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 60px;
  margin-top: -230px;

  h2 {
    text-align: center;
    color: $white;
    margin-bottom: 40px;
  }


  .home-s7-main-container {
    display:flex;
    justify-content: center;
  }

  .home-s7-main-container-child {
    margin: 10px;
    width: 400px;
  }

  .card{
    border-radius: $box-radius;
    color: $dark;
    .title.is-4 {
      color: $primary;
    }
    p {
      color: $primary;
      a {
        color: $primary;
      }
    }
    
  }

}


// ############ home section 8


.home-s8-main {
  color: $primary;
  background-color: $white;
  padding-top: 110px;
  padding-bottom: 60px;
  text-align: center;

  h2 {
    color: $primary;
    font-size: 35px;
  }
  h3 {
    color: $primary;
    margin-top: 5em !important;
  }

  .button.button-red {
    margin-top: 5em;
  }

}

.home-s8-container {
  color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;

}

.home-s8-container-child {
  
  margin-top: 100px;
  
}




// ############ project hero

.project-background {
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
  min-height: unset;
}

.hero-project-content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  .hero-project-title {
    color: $white;
    font-size: 35px;
  }
  .hero-project-entry {
    text-align: center;
    width: 400px;
  }
}

.hero-project-content2 {
  
  margin-top: 30px;
  .hero-project-title {
    color: $white;
    font-size: 25px;
  }

}



// ############ projects section 1

.projects-s1-main {
  color: $white;
  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
  }
}

.projects-s1-container {
  background-color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  width: 100%;
  margin: 80px;
  margin-top: 20px;
}

.projetcs-s1-container-child {
  
  margin-top: 100px;
  max-width: 500px;
  color: $primary;
  margin-bottom: 30px;
  padding-bottom: 50px;

  h2 {
    color: $primary;
  }
  h3 {
    color: $dark-gray;
    font-size: 16px;
  }
  p {
    color: $back-darkest;
  }
  .columns {
    width: 750px;
    margin-top: 30px;
    .column {
      p {
        font-size: 14px;
        img {
          max-width: 40px;
          margin-right: 7px;
        }
      }
      &:last-child {
        border-left: 2px solid $back-darkest;
      }
      a {
        color: $back-darkest;
      }
    }
  }
}

// ############ projects section 2

.projects-s2-main {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: $white;
  background-color: #39ba9c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  p {
    max-width: 500px;
  }
}