/* ------------------------------------------------------------ *\
    Bulma Styles
\* ------------------------------------------------------------ */

@import "./bulma/sass/utilities/_all";
@import "./modules/variables";
@import "./bulma";
@import "~buefy/src/scss/buefy";

/* ------------------------------------------------------------ *\
    Modules
\* ------------------------------------------------------------ */

@import "./modules/base";
@import "./modules/form-elements";
@import "./modules/container";
@import "./modules/wrapper";
@import "./modules/main";
@import "./modules/content";
@import "./modules/sidebar";
@import "./modules/header";
@import "./modules/bar";
@import "./modules/btn";
@import "./modules/link";
@import "./modules/nav";
@import "./modules/hero";
@import "./modules/section";
@import "./modules/list";
@import "./modules/box";
@import "./modules/footer";
@import "./modules/form";
@import "./modules/widget";
@import "./modules/pagination";
@import "./modules/default-page";
@import "./modules/search";

h5 { margin:0; padding:0; font-size:100%; line-height:1; }


.fix-h3 {
  font-family: Helvetica;
  font-size: 26.0px;
  color: rgba(19,62,104,1.0);
  text-align: left;
  line-height: 31.0px;
  margin-top: 90px;
  margin-bottom: 40px;
  margin-left: 90px;
  margin-right: 90px;
}
.fix-h5 {
  font-family: Helvetica;
  color: #000102;
  line-height: 21px;
  margin-left: 95px;
  margin-right: 95px;
}


.header-anchor {
  display: none;
}

.bar-footer {
  padding: 14px 0;
  background: $back-darkest;
}

.bar-footer-entry > a {
  color: #c8cbce;
}

.bar-footer-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.bar-footer-entry {
  margin-left: 10px;
  padding-right: 20px;
  font-size: 10px;
  text-align: center;
}

.bar-footer-entry-right {
  align-items: flex-end;
  margin-left: auto;
}


.bar-link {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 14px;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  text-decoration: underline;
  color: $white;
  transition: background 0.3s, border-color 0.3s;

  &:hover {
    background: $primary;
    border-color: $primary;
    color: $white;
  }
}

.hero-link {
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  padding: 4px 14px;
  text-decoration: underline;
  color: $white;
  transition: background 0.3s, border-color 0.3s;
  width: 260px;

  &:hover {
    background: $primary;
    border-color: $primary;
    color: $white;
  }
}


i {
  border: solid $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.logo-containter {
  display: flex;
}

.logo-containter-child {
  font-size: 1.7em;
  font-weight: 900;
  margin-left: 10px;
  @media only screen and (min-width: $screen-sm-min) {
    color: $white;
  }
  @media (max-width: $screen-md) {
    color: $back-darkest;
  }
  div > span {
    &:first-child{
      margin-left: 0px;
      display: none;
    }
  }
}

.logo-containter-child1 {
  font-size: 1.7em;
  font-weight: 900;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;


  @media only screen and (min-width: $screen-sm-min) {
    color: $white;
  }
  @media (max-width: $screen-md) {
    color: $back-darkest;
  }
}

.nav .nav-menu a {
  @media only screen and (min-width: $screen-sm-min) {
    color: $white;
  }
  @media (max-width: $screen-md) {
    color: $back-darkest;
  }
}

.logo-containter-child-img {
  width: 50.5px;
  padding: 0px;
  color: $white;
}



.menu-container {
  display: inline-flex;
  margin-right: 12px;
  align-items: flex-end;
  flex-direction: row;
  max-width: 100%;
  flex: 1 1 100%;
  padding-left: 40px;
}

.menu-item {
  padding: 1px;
  align-self: flex-end;
}

hr {
  background-color: #c8cbce;
  border: none;
  display: block;
  height: 1.2px;
  //margin: 1.5rem 0;
  margin-top: -15px;
}


// #################### FOOTER

.footer-container {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 700px;
  @media (max-width: $screen-md) { //small screen pantalla 
    width: unset;
  }
}

.footer-container-child { 
  color: #d5d5d5;
  width:200px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-right: 10px;
  // @media only screen and (min-width: $screen-sm-min) { //big screen
  // } 
  @media (max-width: $screen-md) { //small screen pantalla 
    margin-right: -30px;
    hr {
      // display: none !important;
      margin-top: 3px;
    }
  }
}


.footer-container1 {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  // align-content: space-around;
  // width: 700px;
  margin-left: 30px;
}

.footer-container1-child {
  color: #d5d5d5;
  // width:180px;
  align-items: flex-end;
}

.footer-container1-child-right {
  margin-right: 30px;
  margin-left: auto;
}

.hero.is-primary {
  background-color: $dark;
  color: #fff;
}

div.content.custom > main > section > div > div > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;  
  font-weight: 900;
}



.button {
  margin-top: 15px;
  margin-right: 10px;
  height: auto;
  padding: 9px 35px;
  transition: background 0.3s;

  background: $white;
  flex: 0 0 auto;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0px;
  // border: 1px solid $white;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
  // text-transform: uppercase;
  text-transform: none !important;
  color: $dark !important;
  transition: background 0.3s, border-color 0.3s;

  &:hover {
    background: $primary;
    border-color: $primary;
  }

}

.button-red {
  background: $dark-gray;
  border-color: $dark-gray;
  color: $white !important;
}

 .hero-background {
  //background-image:url('/images/home/picture1.svg');
  //background-size: cover;
    @media only screen and (min-width: $screen-sm-min) {
      background-image:url('/images/home/openstack-foundation-hero-image.jpg');
      background-size: cover;
    }
 }

 .hero.is-primary {
  background-color: unset;
}

.hero.is-primary {
  background-color: unset;
}


// ############ HOME SECTION 1 #################

// @media only screen and (min-width: $screen-sm-min) { //big screen
// } 
// @media (max-width: $screen-md) { //small screen pantalla 
//   display: none;
// }

.separator-blank {
  height: 500px;
  background-color: red;
}

.home-s1-pictures {
  height: 5px;
  .home-picture1 {
    top: 100px;
    left: 135px;
    position: relative;
  }
  .home-picture2 {
    top: 480px;
    left: -470px;
    position: relative;
  }
  @media (max-width: $screen-md) { //small screen pantalla 
    height: 5px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    .home-picture1 {
      top: -100px;
      left: unset;
      width: 90%;
    }
    .home-picture2 {
      top: -160px;
      left: unset;
      width: 90%;
    }
  }
}



.home-s1-main {
  color: $white;
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  flex-flow: wrap;
  padding-bottom: 450px;

  .home-s1-container {
    color: $white;
    display: flex;
    justify-content: space-evenly;
    max-width: 40%;
    flex-flow: wrap;
    @media (max-width: $screen-md) { //small screen pantalla 
      max-width: unset;
    }
  }
  .home-s1-text {
    color: $white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    padding-left: 20px;
  }
  .home-s1-img
   {
    color: $white;
    display: flex;
    justify-content: space-evenly;
  }

  .fix-h3 {
    color: $white;
    margin-left: unset;
    margin-right: unset; 
  }
  .fix-h5 {
    color: $white;
    margin-left: unset;
    margin-right: unset; 
  }
  
  @media (max-width: $screen-md) { //small screen pantalla 

    margin-top: 800px;
    padding-bottom: 0px;
    .home-s1-container {
      width: 90%;
      margin-top: -150px;
    }
    .home-picture1 {
      width: 95%;
      margin-top: 0px;
    }
  
  }
}




.home-s2-pictures {
  height: 5px;
  .home-picture3 {
    top: -100px;
    left: 600px;
    position: relative;
  }
  .home-picture4 {
    top: 280px;
    left: 200px;
    position: relative;
  }
  @media (max-width: $screen-md) { //small screen pantalla 
    height: 5px;
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    margin-top: 100px;

    .home-picture3 {
      top: -100px;
      left: unset;
      width: 90%;
    }
    .home-picture4 {
      top: -160px;
      left: unset;
      width: 90%;
    }
  }
}

.home-s2-main {
  color: $white;
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
  display: flex;
  flex-flow: wrap;
  padding-bottom: 350px;

  .home-s2-container {
    color: $white;
    display: flex;
    justify-content: space-evenly;
    max-width: 40%;
    flex-flow: wrap;
    @media (max-width: $screen-md) { //small screen pantalla 
      max-width: unset;
      margin-bottom: 120px;

    }
  }
  .home-s2-text {
    color: $white;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 400px;
    padding-left: 20px;
  }
  .home-s2-img
   {
    color: $white;
    display: flex;
    justify-content: space-evenly;
  }

  .fix-h3 {
    color: $white;
    margin-left: 10px;
    margin-right: unset; 
  }
  .fix-h5 {
    color: $white;
    margin-left: 10px;
    margin-right: unset; 
  }
  
  @media (max-width: $screen-md) { //small screen pantalla 

    margin-top: 800px;
    padding-bottom: 0px;

    .home-s2-container {
      width: 90%;
    }
    .home-picture3 {
      width: 95%;
      margin-top: 0px;
    }
  
  }
}

// ############ SECTION HOME 1 #################


.section-bg-blue {
  color: $white;
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
}

.section-bg-blue-child {
  color: $white;
  margin: 90px;
  width: 350px;
  z-index: 200;
  h4 {
    // font-size: 22pt;
    color: $white;
    text-transform: uppercase;
  }
}

.section-bg-blue-child-left {
  margin-left: 120px;
  z-index: 200;
  position: relative;
}

.section-bg-blue-child-imageset1 {
  width: 500px;
  margin-left: 0px;
  margin-top: -100px;
  z-index: 100;
}

.section-bg-blue-child-imageset3 {
  width: 550px;
  margin-left: 20px;
  padding-right: 20px;
}

.section-bg-blue-child-imageset4 {
  width: 310px;
  margin-left: 180px;
  margin-top: -120px;
}

// ############ SECTION HOME 2 #################

.section-bg-white {
  color: $dark;
  background-image:url('/images/background-shapes-white.svg');
  background-size: cover;
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-items: center;

}



.section-bg-white-child {
  color: $dark;
  margin: 90px;
  // width: 550px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;

  .fix-h3 {
    text-align: center;
    margin-left: 0px; 
    margin-right: 0px;
  }
  .fix-h5 {
    text-align: center;
    margin-left: 0px; 
    margin-right: 0px;
  }

  h4 {
    // font-size: 22pt;
    color: $dark;
    text-transform: uppercase;
    margin-top: 0px; 
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p {
    color: $dark;
  }
  @media (max-width: $screen-md) { //small screen pantalla 
    margin: unset;
  }
}

.section-bg-white-center {
  color: $back-darkest;
  margin: 90px;
  // width: 750px;
  z-index: 200;
  h4 {
    color: $back-darkest;
    text-transform: uppercase;
    margin-bottom: 20px;

  }
  p {
    color: $back-darkest;
  }
  
  @media (max-width: $screen-md) {
    margin: 0px;
    width: 100%;
  }
}

// ############ SECTION HOME 2 - ICONS #################

// @media (max-width: $screen-md) {
//   .fix-h3 {
//     margin-top: 150px;
//   }
// }

.section-bg-white-icons1 {
  display: flex;
  justify-content: space-between;
  width: 760px;
  margin-top: -50px;
  margin-left: 120px;
  // div:first-child {
  //   background-color: red;
  // }
  @media (max-width: $screen-md) { //small screen
    margin-top: 10px;
    width: 300px;
    margin-left: 15px;
    //margin-left: 280px;
  }
}

.section-bg-white-icons-child1 {
  display: flex;
  flex-direction: column;
  p {
    width: 70px;
    text-align: center;
  }
}


.section-bg-white-icons2 {
  display: flex;
  justify-content: space-around;
  width: 760px;
  margin-top: 30px;
  margin-left: 120px;
  @media (max-width: $screen-md) { //small screen
    margin-top: 10px;
    width: 300px;
    margin-left: 20px;
  }

}

.section-bg-white-icons-child2 {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    // width: 120px;
    text-align: center;
  }
}



.section-bg-white-icons3 {
  display: flex;
  justify-content: space-around;
  width: 550px;
  margin-top: 15px;
}

.section-bg-white-icons-child3 {
  display: flex;
  flex-direction: column;
  text-align: center;

  p {
    width: 120px;
    text-align: center;
  }
}

// ############ SECTION HOME 2 - GREEN #################


.section-bg-green {
  color: $dark;
  background-image:url('/images/background-shapes-green.svg');
  background-size: cover;
  margin-top: -170px;
  display: flex;
  justify-content: center;
  align-items: center;
  @media (max-width: $screen-md) { //small screen
    background-image: unset;
  }
}

.section-bg-green-child {
  color: $dark;
  margin: 90px;
  margin-top: 0px;
  width: 850px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  background-color: $white;
  .fix-h3 {
    text-align: center;
    margin-top: 30px;
    margin-left: 130px;
    margin-right: 130px;
  }
  .fix-h5 {
    text-align: center;
    margin-left: 130px;
    margin-right: 130px;
  }
  h4 {
    // font-size: 22pt;
    color: $dark;
    text-transform: uppercase;
    margin-top: 0px;
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p {
    color: $dark;
  }
  @media (max-width: $screen-md) {
    .fix-h3 {
      margin-top: 150px;
    }
  }
}

.section-bg-green-logos-container {
  display: flex;
  justify-content: space-around;
}
.section-bg-green-logo {
  color: red;
  margin: 30px;
  width: 70px;
}

// ############ SECTION HOME 2 - BLUERED #################


.section-bg-bluered {
  color: $dark;
  background-image:url('/images/background-shapes-bluered.svg');
  background-size: cover;
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-bg-bluered-child {
  color: $white;
  margin: 90px;
  margin-top: 0px;
  width: 850px;
  text-align: center;
  align-self: center;
  display: flex;
  justify-content: center;
  // background-color: $white;

  h3{
    color: $white;
    text-transform: uppercase;
    margin-top: 0px;
    &:first-child {
      margin-bottom: 0.3em
    }
  }
  p-bluerd1 {
    color: $white;
    margin-bottom: 2px !important;
  }
}


// ############ SECTION HOME 2 - LIGHTBLUE #################


.section-bg-lightblue {
  color: $dark;
  background-image:url('/images/background-shapes-lightblue.svg');
  background-size: cover;
  margin-top: -170px;
  justify-content: center;
  align-items: center;
  height: 250px;
}



// ############### home section 5 - home-s5 #############

.home-s5-main {
  color: $dark;
  background-image:url('/images/background-shapes-bluered.svg');
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 60px;
  margin-top: -30px;
}

.home-s5-container1 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;
}

.home-s5-container1-child {
  text-align: center;
  align-self: center;
  color: $white;
  width: 50%;
  p.l1 {
    margin-bottom: -20px;
    padding-bottom: 0px;
  }
  h3 {
    color: $white;
  }
}


.home-s5-container2 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  flex-flow: wrap;
  
}

.home-s5-container2-child1 {
  background-image:url('/images/home/picture1.svg');
  background-size: cover;
  color: $white;
  width: 45%;
  padding: 150px;
  margin-top: 100px;
  height: 610px;
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-flow: wrap;

  
  p {
    margin-top: 10px;
    padding-bottom: 0px;
 }
  h3 {
    margin-top: 100px;
    color: $white;
  }
  @media (max-width: $screen-md) {
    width: 100%;
    p {
      margin-top: 10px;
      padding-bottom: 0px;
      margin-left: -20px;
    }
    h3 {
      margin-top: 100px;
      margin-left: -20px;
    }
    a {
      margin-left: -20px;
    }
  }
}

.home-s5-container2-child2 {
  background-image:url('/images/home/picture2.svg');
  background-size: cover;
  color: $white;
  width: 45%;
  padding: 150px;
  margin-top: 100px;
  height: 610px;
  display: flex;
  flex-direction: column;
  align-content: center;
  
  p {
    margin-top: 10px;
    padding-bottom: 0px;
 }
  h3 {
    margin-top: 140px;
    color: $white;
  }
  @media (max-width: $screen-md) {
    width: 100%;
    p {
      margin-top: 10px;
      padding-bottom: 0px;
      margin-left: -20px;
    }
    h3 {
      margin-top: 130px;
      margin-left: -20px;
    }
    a {
      margin-left: -20px;
      width: 200px;
    }
  }
}


.home-s5-container3 {
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;

}

.home-s5-container3-child {
  
  margin-top: 100px;
  
}




// ############ home section 6


.home-s6-main {
  color: $dark;
  background-color: $white;
  padding-top: 80px;
  padding-bottom: 60px;
  margin-bottom: 20px;

  .columns {
    .column {
      &:first-child{
        max-width:450px;
        margin-left:80px;
        img {
          margin-bottom:25px;
        }
      }
      &:last-child{
        //max-width:450px;
        margin-left:80px;
        img {
          width: 500px;
          max-width: unset;   
          &:last-child {
            margin-left: 140px;
            margin-top: -100px;
          }     
        }
      }
    }
  }

}



// ############ home section 7


.home-s7-main {
  color: $dark;
  background-image:url('/images/background-shapes-lightblue.svg');
  background-size: cover;
  padding-top: 110px;
  padding-bottom: 60px;
  margin-top: -230px;

  h2 {
    text-align: center;
    color: $white;
    margin-bottom: 40px;
  }


  .home-s7-main-container {
    display:flex;
    justify-content: center;
    flex-flow: wrap;
  }

  .home-s7-main-container-child {
    margin: 10px;
    width: 400px;
    display: flex;
    flex-flow: wrap;
  }

  .card{
    border-radius: $box-radius;
    color: $dark;
    .title.is-4 {
      color: $primary;
    }
    p {
      color: $primary;
      a {
        color: $primary;
      }
    }
  }

}


// ############ home section 8


.home-s8-main {
  color: $primary;
  background-color: $white;
  padding-top: 110px;
  padding-bottom: 60px;
  text-align: center;

  h2 {
    color: $primary;
    font-size: 35px;
  }
  h3 {
    color: $primary;
    margin-top: 5em !important;
  }

  .button.button-red {
    margin-top: 5em;
  }

}

.home-s8-container {
  color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  width: 100%;

}

.home-s8-container-child {
  
  margin-top: 100px;
  
}




// ############ project hero

.project-background {
  background-image:url('/images/background-shapes-blue.svg');
  background-size: cover;
  min-height: unset;
}

.hero-project-content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  .hero-project-title {
    color: $white;
    font-size: 35px;
  }
  .hero-project-entry {
    text-align: center;
    width: 400px;
  }
}

.hero-project-content2 {
  
  margin-top: 30px;
  .hero-project-title {
    color: $white;
    font-size: 25px;
  }

}

// ############ projects section 1

.projects-s1-main {
  color: $white;

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 80px;
  }
}

.projects-s1-container {
  background-color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  width: 95%;
  margin: 80px;
  margin-top: 20px;
  @media (max-width: $screen-md) { //small screen
    width: unset;
    margin: unset;
    margin-top: 20px;
    padding-top: 50px;
  }
}

.projetcs-s1-container-child {
  
  margin-top: 100px;
  max-width: 500px;
  color: $primary;
  margin-bottom: 30px;
  padding-bottom: 50px;

  h2 {
    color: $primary;
  }
  h3 {
    color: $dark-gray;
    font-size: 16px;
  }
  p {
    color: $back-darkest;
  }
  .columns {
    width: 750px;
    margin-top: 30px;
    .column {
      p {
        font-size: 14px;
        img {
          max-width: 40px;
          margin-right: 7px;
        }
      }
      &:last-child {
        border-left: 2px solid $back-darkest;
      }
      a {
        color: $back-darkest;
      }
    }
  }

  @media (max-width: $screen-md) { //small screen
    padding-left: 70px;
    padding-right: 70px;
    margin-top: unset;
    padding-bottom: unset;
  }
}

#projects-s2-h3 {
  color: #65C7C2;
}
#projects-s2-btn {
  background-color: #65C7C2;
  color: $white;
  border-color: #65C7C2;
}

#projects-s3-h3 {
  color: #F05C3F;
}
#projects-s3-btn {
  background-color: #F05C3F;
  color: $white;
  border-color: #F05C3F;
}

#projects-s4-h3 {
  color: #685BC7;
}
#projects-s4-btn {
  background-color: #685BC7;
  color: $white;
  border-color: #685BC7;
}

#projects-s5-h3 {
  color: #071D49;
}
#projects-s5-btn {
  background-color: #071D49;
  color: $white;
  border-color: #071D49;
}

// ############ projects section 2

.projects-s2-main {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: $white;
  background-color: #39ba9c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  p {
    max-width: 500px;
  }
}



// ############# ABOUT SECTION 1

.about-s1-main {
  color: $white;
  margin-bottom: 40px;

  // .itemtitle {
  //   color: $white;
  //   margin-top: 20px;
  //   margin-bottom: 10px;
  //   margin-left: 80px;
  // }
}

.about-s1-container {
  background-color: $white;
  // display: flex;
  // justify-content: space-around;
  // flex-direction: row;
  width: 98%;
  margin-left: 0px;
  margin-top: 70px;
  margin-bottom: 40px;
  
  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: rgba(19,62,104,1.0);
    text-align: left;
    line-height: 31.0px;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 95px;
  }

  .fix-h5 {
    font-family: Helvetica;
    color: #000102;
    line-height: 21px;
    margin-left: 95px;
    &:last-child{
      margin-bottom: 40px;
    }
  }


  #about-s1-id-pic1{
    margin-top: -70px;
    margin-left: 10px;
    z-index: 200;
  }
  #about-s1-id-pic2{
    margin-top: -15px;
    margin-left: 95px;
    z-index: 100;
  }

  #about-s1-id-pic3{
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
  }

  #about-s1-id-pic4{
    margin-top: 30px;
    margin-left: 320px;
    z-index: 100;
  }
  #about-s1-id-pic5{
    margin-top: -20px;
    margin-left: 95px;
    z-index: 100;
  }
  #about-s1-id-pic6{
    margin-top: 30px;
    margin-left: 20px;
    z-index: 100;
  }
  #about-s1-id-pic7{
    margin-top: 60px;
    margin-left: 95px;
    z-index: 100;
  }
  #about-s1-id-pic8{
    margin-top: 80px;
    margin-left: 10px;
    z-index: 200;
  }
  #about-s1-id-pic9{
    margin-top: -45px;
    margin-left: 115px;
    z-index: 100;
  }
}

.section-bg-blue-child {
  color: $white;
  margin: 90px;
  width: 350px;
  z-index: 200; 
  @media (max-width: $screen-md) { //small screen
    margin-left: -150px;
    padding-bottom: 250px;

    #home-p-p3 {
      width: unset;
    }
    #home-p-p4 {
      margin-top: 50px;
      margin-left: 0px;
    }
    .columns.column{
      padding: unset;
    }

  }
  
}



// ############# ABOUTSTAFF SECTION 1


.aboutstaff-s1-main {
  color: $white;
  margin-bottom: 0px;
}

.column.aboutstaff-s1-1-container {
  background-color: #1C6EBF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  .button.button-red {
    font-family: Helvetica;
    font-size: 15px;
    color: rgb(255, 255, 255);
    // width: 80px;
    // padding-left: 80px;
    // padding-right: 80px;
    margin-left: 90px;
    margin-right: auto;
    margin-bottom: 80px;

  }
  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: $white;
    text-align: left;
    line-height: 31.0px;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 95px;
  }

  .fix-h5 {
    font-family: Helvetica;
    color: $white;
    line-height: 21px;
    margin-left: 95px;
    &:last-child{
      margin-bottom: 40px;
    }
  }
  #aboutstaff-s1-id-pic1 {
    margin-top: -140px;
    margin-left: 20px;
    z-index: 100;
    width: 580px;
  }
}

.aboutstaff-s1-container {
  background-color: #1C6EBF;
  width: 99.5%;
  margin-left: 20px;
  margin-top: 70px;
  margin-bottom: 24px;
  
  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: rgba(19,62,104,1.0);
    text-align: left;
    line-height: 31.0px;
    margin-top: 90px;
    margin-bottom: 40px;
    margin-left: 95px;
  }

  .fix-h5 {
    font-family: Helvetica;
    color: #000102;
    line-height: 21px;
    margin-left: 95px;
    &:last-child{
      margin-bottom: 40px;
    }
  }


  #about-s1-id-pic1{
    margin-top: -70px;
    margin-left: 10px;
    z-index: 200;
  }

}



// ############# ABOUTSTAFF SECTION 2

.aboutstaff-s2-main {
  color: $back-darkest;
  margin: 0px;
  padding: 0;
  margin: 0;
}

.aboutstaff-s2-container {
  background-color: $white;
  width: calc(100% - 60px);
  margin-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;

  .card-text-color{
    color: $back-darkest;
  }
  .card-social-container-icons{
    color: red;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    width: 97%;
  }
  .card-social-icons{
    color: red;
    margin-right: 25px;
    margin-bottom: 0px;
  }

  .aboutstaff-s2-container-border {
    border: 1px solid #dedede;
    width: 85%;
    margin-left: 7.5%;
    padding: 20px;
  }
  .aboutstaff-s2-readmore{
    margin-top: 20px;
    margin-bottom: 20px;
    color: $back-darkest;
    text-decoration: underline;
  }
  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: rgba(19,62,104,1.0);
    text-align: left;
    line-height: 31.0px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 95px;
  }

}

// ############# ABOUTSTAFF SECTION 2

.aboutstaff-s3-main {
  color: $back-darkest;
  background-color: #1C6EBF;
  margin-top: 50px;
  margin-left: 10px;
  margin-right: 0px;
  padding: 0;
  
  #aboutstaff-s3-id-pic2{
    margin-top: -70px;
    margin-left: -10px;
    z-index: 300;
  }

  #aboutstaff-s3-id-pic3{
    margin-top: -80px;
    margin-left: 190px;
    z-index: 200;
  }

  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: $white;
    text-align: left;
    line-height: 31.0px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 0px;
  }

  .fix-h5 {
    font-family: Helvetica;
    color: $white;
    line-height: 21px;
    margin-left: 0px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: underline;
  }
  .aboutstaff-s3-link{
    margin-top: 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: underline;
  }

  #aboutstaff-s3-col-1 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    
  }
  #aboutstaff-s3-col-2 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    
  }

  #btncontactus {
    width: 180px;
  }


}


// ############# COMPANIES SECTION 1

.companies-s1-main {
  color: $white;
}


.companies-s1-container {
  background-color: $white;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 40px;

  a {
    color: #EC1944;
  }
  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: rgba(19,62,104,1.0);
    text-align: left;
    line-height: 31.0px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
  .fix-h5 {
    font-family: Helvetica;
    color: #000102;
    line-height: 21px;
    margin-left: 60px;
  }
  .companies-s1-1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 60px;

    img {
      margin: 10px;
    }    
  }
  .w4-5 {
    max-width: 300px;
  }

  .companies-s1-columns {
    .companies-s1-column1 { 
      width: 73%;
    }
  }

  #companies-s1-picture1 {
    margin-top: -320px;
    margin-left: 870px;
  }

  @media (max-width: $screen-md) { //small screen pantalla 
    .companies-s1-columns {
      .companies-s1-column1 { 
        width: 100%;
      }
    }
    .fix-h3 {      
      margin-right: 0px;
    }
    .fix-h5 {
      margin-right: 0px;
    }
  }

}


.companies-s2-container {
  background-color: $white;
  width: calc(100% - 60px);
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 40px;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-right: 40px;

  .fix-h3 {
    font-family: Helvetica;
    font-size: 26.0px;
    color: rgba(19,62,104,1.0);
    text-align: left;
    line-height: 31.0px;
    margin-top: 60px;
    margin-bottom: 40px;
    margin-left: 60px;
  }
  .fix-h5 {
    font-family: Helvetica;
    color: #000102;
    line-height: 21px;
    margin-left: 60px;
  }
  .companies-s2-1-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 30px;
    margin-left: 60px;

    img {
      margin: 10px;
    }    
  }
  .w4-5 {
    max-width: 300px;
  }
  @media (max-width: $screen-md) { //small screen pantalla 
    .companies-s1-columns {
      .companies-s1-column1 { 
        width: 100%;
      }
    }
    .fix-h3 {      
      margin-right: 0px;
    }
    .fix-h5 {
      margin-right: 0px;
    }
  }
}

// ############ projects section 2

.companies-s2-main {
  margin-top: 0px;
  padding-top: 40px;
  padding-bottom: 50px;
  color: $white;
  background-color: #EC1944;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 0px;
  }
  p {
    max-width: 500px;
  }

  .fix-h3 {
    color: $white;
  }    
  .fix-h5 {
    color: $white;
  }

  @media (max-width: $screen-md) { //small screen pantalla 
    .fix-h3 {
      color: $white;
      margin-left: 60px;
      margin-right: 0px;
    }    
    .fix-h5 {
      color: $white;
      margin-left: 60px;
      margin-right: 0px;
    }
  }

}
