/* ------------------------------------------------------------ *\
    
\* ------------------------------------------------------------ */


// ############ SECTION 1 #################

.about-s1-main {
  color: $white;
  margin-bottom: 40px;
  background-color: white;

  // .itemtitle {
  //   color: $white;
  //   margin-top: 20px;
  //   margin-bottom: 10px;
  //   margin-left: 80px;
  // }
}

.about-s1-container {
  background-color: $white;
  padding-left: 4em;
  padding-right: 4em;
  color: #161616;

  @media (max-width: $screen-md-min) {
    margin-left: 1em;
    margin-right: 1em;
  }

  @media (max-width: $screen-sm-min) {
    padding-left: 1.5em;
    padding-right: 1.5em;
  }

  .fix-h3 {
    font-size: 26.0px;
    color: #28a4db;
    text-align: left;
    line-height: 31.0px;
    margin-bottom: 40px;

    @media (max-width: $screen-md-min) {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .columns {
    .column {
      p {
        color: #161616;
        line-height: 21px;

        &:last-child {
          margin-bottom: 40px;
        }
      }
    }
  }

  ul {
    &.fix-h5 {
      margin-left: 1em;
      list-style: none;
    }
  }

  .fix-h5 {
    color: #161616;
    line-height: 21px;

    &:last-child {
      margin-bottom: 40px;
    }

    @media (max-width: $screen-md) {

      //small screen
      .fix-h3 {
        margin-left: 60px;
        margin-right: 0px;
      }

      .fix-h5 {
        margin-left: 60px;
        margin-right: 0px;
      }
    }

  }


  #about-s1-id-pic1 {
    margin-bottom: 30px;
    padding-right: 2page0px;
    @media (max-width: $screen-md-min) {
      margin-top: 0px;
    }
  }

// The image below is hidden but would display underneath #about-s1-id-pic1

  #about-s1-id-pic2 {
    margin-bottom: 30px;
    display: none;
  }

  #about-s1-id-pic3 {
    margin-top: 30px;
    z-index: 100;
    padding-left: 20px;

    @media screen and (max-width:$screen-md-min) {
      margin-top: -30px;
    }
  }

  #about-s1-id-pic4 {
    margin-top: 30px;
    margin-left: 37.3%;
    z-index: 100;
    max-height: 390px;

    @media screen and (max-width: 1024px) {
      margin-left: 20%;
    }

    @media screen and (max-width:$screen-md-min) {
      margin-left: 0;
    }
  }

  #about-s1-id-pic5 {
    margin-top: -20%;
    z-index: 100;
  }

  #about-s1-id-pic6 {
    margin-top: 30px;
    margin-left: 16px;
    z-index: 100;

    @media (max-width: $screen-md-min) {
      margin-top: -30px;
      margin-left: 0;
    }
  }

  #about-s1-id-pic7 {
    margin-top: 60px;
    z-index: 100;

    @media (max-width: $screen-md-min) {
      margin-top: -60px;
      margin-left: 4%;
    }
  }

  #about-s1-id-pic8 {
    margin-top: 80px;
    margin-left: 10px;
    z-index: 200;
    max-height: 390px;

    @media (max-width: $screen-md-min) {
      margin-top: -30px;
      margin-left: 0;
    }
  }

  #about-s1-id-pic9 {
    margin-top: -45px;
    margin-left: 115px;
    z-index: 100;
  }
}

.section-bg-blue-child {
  color: $white;
  margin: 90px;
  width: 350px;
  z-index: 200;

  @media (max-width: $screen-md) {
    //small screen
    margin-left: -150px;
    padding-bottom: 250px;

    #home-p-p3 {
      width: unset;
    }

    #home-p-p4 {
      margin-top: 50px;
      margin-left: 0px;
    }

    .columns.column {

    }

  }

}
.column {

}