/* ------------------------------------------------------------ *\
    Basestructre Hero & Header & footer
\* ------------------------------------------------------------ */

.tgreen {
  background-color: green;
}
.tred {
  background-color: red;
}
.tyellow {
  background-color: yellow;
}

.fix-h3 {
  font-family: "Jura", "Roboto", sans-serif;
  color: #161616;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;

  font-weight: 600;
  font-size: 32px;
  line-height: 33px;
    
  @media screen and(max-width: $screen-md-min) {
    font-size: 26px;
    line-height: 32px;
    padding-top: 1em;
  }
}
.fix-h5 {
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #161616;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.fix-h3-white {
  font-family: "Jura", "Roboto", sans-serif;
  color: $white;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
  font-weight: 600;

  font-size: 32px;
  line-height: 33px;
  @media screen and(max-width: $screen-md-min) {
    font-size: 26px;
    line-height: 32px;
    padding-top: 1em;
  }
}
.fix-h5-white {
  font-weight: 400;

  font-size: 17px;
  line-height: 21px;
  color: $white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

p.fix-h5{
  color: #161616;
}

.bar {
  background: #ee1e48;
  color: #fff;
  height: auto;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .bar-entry {
    p {
      font-weight: 500;
      font-size: 15px;
      color: $white;
      text-align: left;
      line-height: 18px;
      padding-top: 1em;
      padding-bottom: 1em;

      a {
        font-weight: 500;
        font-size: 15px;
        color: $white;
        text-align: left;
        line-height: 18px;
        margin-right: 2px;
        text-transform: none;
      }
    }
  }
}

i {
  border: solid $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.logo-containter {
  display: flex;

  @media (max-width: $screen-md) {
    justify-content: center;
  }

}

.nav .nav-menu a {
  color: #fff;
  transition: color 0.3s;
  display: inline-block;
  font-weight: 400;

  font-size: 15px;
  text-align: left;
  line-height: 18px;

  @media only screen and (min-width: $screen-sm-min) {
    color: $white;
  }
  @media (max-width: $screen-md) {
    color: $white;
  }
}

.logo-containter-child-img {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  width: 230px;
  padding: 0px;
  color: $white;
}
footer {
  .logo-containter-child-img {
    width: 60px;
    @media (max-width: $screen-md-min) {
      margin-right: 1em;
      width: 60px;
    }
    @media (max-width: $screen-sm-min) {
      margin-right: 0em;
      width: 60px;
    }
    @media (max-width: 320px) {
      margin-right: 0em;
      width: 60px;
      position: absolute;
      left: 1.2em;
    }
  }
}
.hero-main .hero-content {
  @media (max-width: $screen-md) {
    //small screen pantalla
    margin-top: 0px;
  }
}

.hero-background {
  background-image: -moz-linear-gradient(left, rgba(0,0,0,0.8) 0%, rgba(255, 255, 255, 0.0) 50%), url("/img/home/hero-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  @media (max-width: $screen-sm-min) {
    background-size: cover;
    background-position-x: 50%;
  }   
  @media (max-width: 320px) {
    background-position-y: 13.5em;
    background-size: 114%;
    background-position-x: 50%;
  }
  @media (min-width: $screen-md-min) {
    background-position-y: initial;
    background-size: cover;
    background-position-x: 50%;
  }  
}

.hero.is-primary {
  background-color: unset;
}

.hero-body div.container {
  padding: 0px;
}

.button {
  height: auto;
  padding: 11px 45px;
  transition: background 0.3s;
  border-radius: 0px;
  margin-top: 30px;
  @media screen and(max-width: $screen-sm-min) {
    margin-top: 1em;
    width: 100%;
  }
}
.button-red {
  background: #e61e24;
  border: 0;
  color: #fff !important;
  border-radius: 0px;
  &:hover {
    background-color: darken(#ee1e48, 20%);
    border: 0;
  }
}
// ########### /END HERO

// ########### FOOTER

.footer-container {
  // background-color: #133E68;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 700px;
  @media (max-width: $screen-md) {
    //small screen pantalla
    width: unset;
  }
}

.footer-container-child {
  color: #d5d5d5;
  width: 200px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-right: 10px;
  // @media only screen and (min-width: $screen-sm-min) { //big screen
  // }
  @media (max-width: $screen-md) {
    //small screen pantalla
    margin-right: -30px;
    hr {
      // display: none !important;
      margin-top: 3px;
    }
  }
}

.footer-container1 {
  // background-color: #133E68;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  // align-content: space-around;
  // width: 700px;
  margin-left: 30px;
  @media (max-width: 320px) {
    align-items: flex-end;
  }
}

.footer-container1-child {
  color: #d5d5d5;
  // width:180px;
  align-items: flex-end;
}

.footer-container1-child-right {
  margin-right: 30px;
  margin-left: auto;
}

div.content.custom > main > section > div > div > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: 900;
}

.bar-footer {
  padding: 14px 0;
  padding-right: 30px;
  background: $back-darkest;
  .is-dark-gray {
    color: white;
  }
  div.container {
    padding: 0px;
    margin-left: 20px;
  }
}

.bar-footer-entry > a {
  color: #c8cbce;
}

.bar-footer-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.bar-footer-entry {
  margin-left: 10px;
  padding-right: 20px;
  font-size: 11px;
  text-align: center;
  text-transform: uppercase;
}

.bar-footer-entry-right {
  align-items: flex-end;
  margin-left: auto;
}

.bar-footer.container {
  padding: 0px;
}
// ########### /END FOOTER

// ########### BEGIN CONTENT

// ########### /END CONTENT

.hero-main .hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 47px;
  text-align: left;
  line-height: 45px;
  @media (max-width: $screen-md-min) {
    padding-top: 1em;
    font-size: 30px;
    line-height: 34px;
  }
  @media (max-width: $screen-sm-min) {
    padding-top: 0em;
  }
}

.hero-entry {
  font-size: 14px;
  max-width: 350px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  color: #ffffff;
  line-height: 21px;
}

.nav .nav-menu a {
  font-weight: 500;
  font-size: 15px;
}

.button-red {
  border-radius: 0px;
  font-weight: 500;
  font-size: 16px;
}

.button {
  border-radius: 0px;
  font-weight: 500;
  font-size: 16px;
}

// ###### NESTED MENU

.dropdown {
  .button {
    padding: 0px;
    transition: background 0.3s;
    border-radius: 0px;
    margin-top: unset;
    background-color: unset;
    border: unset;
    color: $white;
    cursor: default;
    @media (max-width: 769px) {
      //small screen pantalla
      color: #161616;
    }
  }
  .dropdown-content {
    background-color: $white;
    color: #161616;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgba(34, 34, 34, 0.1), 0 0 0 1px rgba(34, 34, 34, 0.1);
    margin-top: 22px;
    @media (min-width: 769px) {
      height: 267px;
      padding-bottom: 0.5rem;
      padding-top: 2.5rem;
    }
    left: 50%;
    @media (max-width: 769px) {
      //small screen pantalla
      margin-top: 5px;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
    }
    a span {
      color: #161616;
      border-bottom: 2px solid $white;
      margin-top: 15px;
      margin-bottom: 5px;
      padding-bottom: 7px;
      padding-top: 10px;
      font-size: 13px;
    }

    a {
      padding-left: 33px;
    }

    a:hover span {
      border-bottom: 2px solid #133e68;
    }

    .menuitemeffect {
      height: 39px;
      @media (max-width: 769px) {
        //small screen pantalla
        height: 30px;
      }
    }

    &:after {
      /* arrow */
      // bottom: 70%;
      top: -2px;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $white;
      border-width: 20px;
      margin-left: -30px;
    }
  }
}

.nested-menu-image {
  display: none;
  height: 0px;
  img {
    margin-left: -428px;
    height: 268px;
    max-width: unset;
    margin-top: -35px;
  }
}

.dropdown.is-active .dropdown-menu,
.dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
  left: calc(50% - 110px);
  width: 240px;
  .nested-menu-image {
    display: block;
    @media (max-width: 1024px) {
      //small screen pantalla
      display: none;
    }
  }
}
/*list bullets*/
ul {
  li {
    &:before {
      color: #133e68 !important;
    }
  }
}

.column {
  color: #161616;
}

