/* ------------------------------------------------------------ *\
	Variables
\* ------------------------------------------------------------ */

/*
  RED EE1E48
  BLUE 133E68    133E68
  DARK BLUE 0A2743

*/

// SCREEN SIZE DEFINITIOS
// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;
// Small tablets (portrait view)
$screen-md-min: 768px;
// Tablets and small desktops
$screen-lg-min: 992px;
// Large tablets and desktops
$screen-xl-min: 1200px;
$screen-md: 1023px; //1023px;

// @media (max-width: $screen-md) {
//   img.feature-icons {
//     vertical-align: middle;
//     max-width: 40px;
//     height: auto;
//     float: none;
//     align-items: center;
//     margin-right: 0;
//     padding-bottom: 10px;
//   }

$container-max-width: 1140px;
$container-small-max-width: 996px;
$container-medium-max-width: 1093px;
$container-thin-max-width: 865px; /*835 1005*/
$container-thin-alt-max-width: 851px;

$container-gutter: 15px;

$column-gap: 24px;

$back-darkest: #0a2743;

$family-primary: "Roboto", "Helvetica", sans-serif;
// $family-primary: "Gotham Narrow SSm A", "Gotham Narrow SSm B", sans-serif;
$body-size: 14px;
$body-line-height: 1.2;

$primary: #2a394e;
$primary-invert: findColorInvert($primary);

$dark-gray: #e61e24; //#333
$dark-gray-invert: findColorInvert($dark);

$primary-blue: #133e68;
$primary-blue-invert: findColorInvert($primary-blue);

$purple-light: #c0a9f7;
$purple-light-invert: findColorInvert($purple-light);

$dark: #161616; // #0c0016
$dark-invert: findColorInvert($dark);

$danger: #d91a31;
$danger-invert: findColorInvert($danger);

$dark-light: #4a4a4a;

$primary-dark: #f15b3e;

$gray: #9b9b9b;
$white: #fff;
$black: #222;

$colors: (
  "white": (
    $white,
    $black
  ),
  "black": (
    $black,
    $white
  ),
  "danger": (
    $danger,
    $danger-invert
  ),
  "primary": (
    $primary,
    $primary-invert
  ),
  "purple-light": (
    $purple-light,
    $purple-light-invert
  ),
  "dark": (
    $dark,
    $dark-invert
  ),
  "dark-gray": (
    $dark-gray,
    $dark-gray-invert
  )
);
