/* ------------------------------------------------------------ *\
    ABOUT-STAFF
\* ------------------------------------------------------------ */


// ############ SECTION 1 #################

.aboutstaff-s1-main {
    color: $white;
    margin-bottom: 0px;
  }
  
  .column.aboutstaff-s1-1-container {
    background-color: #1C6EBF;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: $white;
    .button.button-red {
      font-size: 15px;
      color: rgb(255, 255, 255);
      // width: 80px;
      // padding-left: 80px;
      // padding-right: 80px;
      margin-left: 90px;
      margin-right: auto;
      margin-bottom: 80px;
  
    }
    .fix-h3 {
      font-size: 26.0px;
      color: $white;
      text-align: left;
      line-height: 31.0px;
      margin-top: 90px;
      margin-bottom: 40px;
      margin-left: 95px;
    }
  
    .fix-h5 {
      color: $white;
      line-height: 21px;
      margin-left: 95px;
      &:last-child{
        margin-bottom: 40px;
      }
    }
    #aboutstaff-s1-id-pic1 {
      margin-top: -140px;
      margin-left: 20px;
      z-index: 100;
      width: 580px;
    }
  }
  
  .aboutstaff-s1-container {
    background-color: #1C6EBF;
    width: 99.5%;
    margin-left: 20px;
    margin-top: 70px;
    margin-bottom: 24px;
    
    .fix-h3 {
      font-size: 26.0px;
      color: rgba(19,62,104,1.0);
      text-align: left;
      line-height: 31.0px;
      margin-top: 90px;
      margin-bottom: 40px;
      margin-left: 95px;
    }
  
    .fix-h5 {
      color: #000102;
      line-height: 21px;
      margin-left: 95px;
      &:last-child{
        margin-bottom: 40px;
      }
    }
  
  
    #about-s1-id-pic1{
      margin-top: -70px;
      margin-left: 10px;
      z-index: 200;
    }
  
  }
  
  
  
  // ############# ABOUTSTAFF SECTION 2
  
  .aboutstaff-s2-main {
    color: $back-darkest;
    margin: 0px;
    padding: 0;
    margin: 0;
  }
  
  .aboutstaff-s2-container {
    background-color: $white;
    width: calc(100% - 60px);
    margin-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  
    .card-text-color{
      color: $back-darkest;
    }
    .card-social-container-icons{
      color: red;
      display: flex;
      justify-content: flex-end;
      flex-direction: row;
      width: 97%;
    }
    .card-social-icons{
      color: red;
      margin-right: 25px;
      margin-bottom: 0px;
    }
    
    .card figure img {
        display: inline-block;
        border-radius: 50%;
        object-fit: cover;
        width: 128px;
        height: 128px;
    }    
  
    .aboutstaff-s2-container-border {
      border: 1px solid #dedede;
      width: 85%;
      margin-left: 7.5%;
      padding: 20px;
    }
    .aboutstaff-s2-readmore{
      margin-top: 20px;
      margin-bottom: 20px;
      color: $back-darkest;
      text-decoration: underline;
    }
    .fix-h3 {
      font-size: 26.0px;
      color: rgba(19,62,104,1.0);
      text-align: left;
      line-height: 31.0px;
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: 95px;
    }
  
  }
  
  // ############# ABOUTSTAFF SECTION 2
  
  .aboutstaff-s3-main {
    color: $back-darkest;
    background-color: #1C6EBF;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 0px;
    padding: 0;
    
    #aboutstaff-s3-id-pic2{
      margin-top: -70px;
      margin-left: -10px;
      z-index: 300;
    }
  
    #aboutstaff-s3-id-pic3{
      margin-top: -80px;
      margin-left: 190px;
      z-index: 200;
    }
  
    .fix-h3 {
      font-size: 26.0px;
      color: $white;
      text-align: left;
      line-height: 31.0px;
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: 0px;
    }
  
    .fix-h5 {
      color: $white;
      line-height: 21px;
      margin-left: 0px;
    }
  
    p {
      margin-top: 20px;
      margin-bottom: 20px;
      color: $white;
      text-decoration: underline;
    }
    .aboutstaff-s3-link{
      margin-top: 20px;
      margin-bottom: 20px;
      color: $white;
      text-decoration: underline;
    }
  
    #aboutstaff-s3-col-1 {
      display: flex;
      justify-content: left;
      align-items: left;
      flex-direction: column;
      
    }
    #aboutstaff-s3-col-2 {
      display: flex;
      justify-content: left;
      align-items: left;
      flex-direction: column;
      
    }
  
    #btncontactus {
      width: 180px;
    }
  
  
  }