/* ------------------------------------------------------------ *\
    ABOUT-STAFF
\* ------------------------------------------------------------ */

// ############ SECTION 1 #################

.aboutstaff-s1-main {
  color: $white;
  margin-bottom: 0px;
}

.column.aboutstaff-s1-1-container {
  background-color: #1c6ebf;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: $white;
  .button.button-red {
    font-size: 15px;
    color: rgb(255, 255, 255);
    margin-right: auto;
    margin-bottom: 80px;
    @media (max-width: $screen-md-min) {
      margin-bottom: 0px;
      width: 100%;
    }
  }
  .fix-h3 {
    font-size: 26px;
    color: $white;
    text-align: left;
    line-height: 31px;
    margin-top: 90px;
    margin-bottom: 40px;
    @media (max-width: $screen-md-min) {
      margin-top: 0;
    }
  }

  .fix-h5 {
    color: $white;
    line-height: 21px;
    &:last-child {
      margin-bottom: 40px;
    }
  }
  #aboutstaff-s1-id-pic1 {
    margin-top: -240px;
    margin-left: 20px;

    @media (max-width: $screen-md-min) {
      display: none;
    }
  }
}

.aboutstaff-s1-container {
  background-color: #1c6ebf;
  width: 100%;
  margin-top: 70px;
  margin-bottom: 24px;

  .fix-h3 {
    font-size: 26px;
    color: rgba(19, 62, 104, 1);
    text-align: left;
    line-height: 31px;
    margin-top: 90px;
    margin-bottom: 40px;
  }

  .fix-h5 {
    color: #000102;
    line-height: 21px;
    &:last-child {
      margin-bottom: 40px;
    }
  }

  #about-s1-id-pic1 {
    margin-top: -70px;
    margin-left: 10px;
    z-index: 200;
  }
}

// ############# ABOUTSTAFF SECTION 2

.aboutstaff-s2-main {
  color: $back-darkest;
}

.aboutstaff-s2-container {
  background-color: $white;
  width: 100%;
  //margin-left: 30px;
  padding-top: 0;
  padding-bottom: 15px;
  &:first-child {
    padding-top: 60px;
  }
  &:last-child {
    padding-bottom: 60px;
  }

  .card-text-color {
    color: $primary-blue;
  }
  .card-social-container-icons {
    color: red;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .card-social-icons {
    color: red;
    margin-left: 20px;
    margin-bottom: 0px;
    min-height: 20px;
  }

  .card figure img {
    display: inline-block;
    border-radius: 50%;
    object-fit: cover;
    width: 128px;
    height: 128px;
  }
  .card-content {
    padding-left: 0;
    padding-right: 0;
  }

  .aboutstaff-s2-container-border,
  .fix-h3 {
    border: 1px solid #dedede;
    width: 85%;
    margin-left: 7.5%;
    padding: 20px;
  }
  .aboutstaff-s2-readmore {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $back-darkest;
    text-decoration: underline;
  }
  .fix-h3 {
    border: 0;
    padding: 0;
    font-size: 26px;
    color: rgba(19, 62, 104, 1);
    text-align: left;
    line-height: 31px;
    margin-top: 25px;
    margin-bottom: 0;
    //margin-left: 120px;
  }
}

@media (max-width: 767px) {
  .aboutstaff-s2-container {
    .card-social-container-icons {
      text-align: center;
      display: block;
    }
    .card .card-content .media {
      .media-left {
        width: 0;
        position: relative;
      }
      .media-content {
        margin-top: 160px;
      }
    }
  }
}
// ############# ABOUTSTAFF SECTION 2

.aboutstaff-s3-main {
  color: $back-darkest;
  background-color: #1c6ebf;
  padding-top: 3em;

  #aboutstaff-s3-id-pic2 {
    margin-top: -70px;
    margin-left: -10px;
    z-index: 300;
  }

  #aboutstaff-s3-id-pic3 {
    margin-top: -80px;
    margin-left: 190px;
    z-index: 200;
    margin-bottom: 30px;
    @media (max-width: $screen-sm-min) {
      margin-left: 0px;
    }
  }

  .fix-h3 {
    font-size: 26px;
    color: $white;
    text-align: left;
    line-height: 31px;
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 0px;
    @media (max-width: $screen-md-min) {
      margin-top: 0;
      padding-top: 0;
    }
  }

  .fix-h5 {
    color: $white;
    line-height: 0.5em;
    margin-left: 0px;
    font-size: 14px;
  }

  p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: underline;
  }
  .aboutstaff-s3-link {
    margin-top: 20px;
    margin-bottom: 20px;
    color: $white;
    text-decoration: underline;
  }

  #aboutstaff-s3-col-1 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
  }
  #aboutstaff-s3-col-2 {
    display: flex;
    justify-content: left;
    align-items: left;
    flex-direction: column;
    p {
      margin: 0 0 1em 0;
    }
  }

  #btncontactus {
    width: 180px;
  }
}
