/* ------------------------------------------------------------ *\
    Basestructre Hero & Header & footer
\* ------------------------------------------------------------ */

.tgreen {
  background-color: green;
}
.tred {
  background-color: red;
}
.tyellow {
  background-color: yellow;
}

.fix-h3 {
  color: rgba(19,62,104,1.0);
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;

  font-weight: 500;
  font-size: 32px;
  line-height: 33px;
  text-transform: uppercase;
  @media screen and(max-width: $screen-md-min){
    font-size: 26px;
    line-height: 32px;
    padding-top: 1em;
  }

}
.fix-h5 {
  font-weight: 400;  
  font-size: 17px;
  line-height: 21px;  
  color: #000102;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.fix-h3-white {
  color: $white;
  text-align: left;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
  font-weight: 500;
  text-transform: uppercase;

  font-size: 32px;
  line-height: 33px;
  @media screen and(max-width: $screen-md-min){
    font-size: 26px;
    line-height: 32px;
    padding-top: 1em;
  }

}
.fix-h5-white {
  font-weight: 400;

  font-size: 17px;
  line-height: 21px;
  color: $white;
  margin: 0px;
  padding: 0px;
  margin-bottom: 15px;
}

.bar {
  background: #EE1E48;
  color: #fff;
  height: auto;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

  }
  .bar-entry {
    p {
      font-weight: 500;
      font-size: 15px;
      color: $white;
      text-align: left;
      line-height: 18.0px;
      padding-top:1em;
      padding-bottom:1em;

      a {
        font-weight: 500;
        font-size: 15px;
        color: $white;
        text-align: left;
        line-height: 18.0px;
        margin-right: 2px;
        text-transform: none;
      }
    }
  }

  
  .bar-link {
    flex: 0 0 auto;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 15.0px;
    color: $white;
    text-align: left;
    line-height: 18.0px;
    text-decoration: underline;
    margin-left: 10px;
    transition: background 0.3s, border-color 0.3s;
    &:hover {
      background: $primary;
      border-color: $primary;
      color: $white;
    }
  }

}

i {
  border: solid $white;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}



.logo-containter {
  display: flex;
}


.nav .nav-menu a {
  color: #fff;
  transition: color 0.3s;
  display: inline-block;
  font-weight: 400;

  font-size: 15.0px;
  text-align: left;
  line-height: 18.0px;

  @media only screen and (min-width: $screen-sm-min) {
    color: $white;
  }
  @media (max-width: $screen-md) {
    color: $white;
  }
}

.logo-containter-child-img {
  font-size: 25px;
  font-weight: bold;
  font-family: monospace;
  width: 250px;
  padding: 0px;
  color: $white;
}
footer {
  .logo-containter-child-img{
    @media (max-width: $screen-md-min){
      width: 100%;
    }
  }
}
.hero-main .hero-content {
  @media (max-width: $screen-md) { //small screen pantalla 
    margin-top: 0px;
  }
}

.hero-background {
  background-image:url('/images/home/openstack-foundation-hero-image.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  @media (max-width: $screen-sm-min){
    background-position-y: 11em;
    background-size: 114%;
    background-position-x: 50%;
  }
 }

 .hero.is-primary {
   background-color: unset;
 }

 .hero-body
  div.container {
    padding: 0px;
  }

  .button {
    height: auto;
    padding: 11px 45px;
    transition: background 0.3s;
    border-radius: 0px;
    margin-top: 30px;
    @media screen and(max-width: $screen-sm-min){
      margin-top: 1em;
      width: 100%;  
    }
}
  .button-red {
    background: #ee1e48;
    border-color: #ee1e48;
    color: #fff!important;
    border-radius: 0px;
    &:hover{
      background-color: darken(#ee1e48, 20%);
      border-color: darken(#ee1e48, 20%);
    }
}
// ########### /END HERO

// ########### FOOTER

.footer-container {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  width: 700px;
  @media (max-width: $screen-md) { //small screen pantalla 
    width: unset;
  }
}

.footer-container-child { 
  color: #d5d5d5;
  width:200px;
  margin-bottom: 25px;
  margin-right: 10px;
  padding-right: 10px;
  // @media only screen and (min-width: $screen-sm-min) { //big screen
  // } 
  @media (max-width: $screen-md) { //small screen pantalla 
    margin-right: -30px;
    hr {
      // display: none !important;
      margin-top: 3px;
    }
  }
}


.footer-container1 {
  // background-color: #133E68;  
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  flex-direction: row;
  // align-content: space-around;
  // width: 700px;
  margin-left: 30px;
}

.footer-container1-child {
  color: #d5d5d5;
  // width:180px;
  align-items: flex-end;
}

.footer-container1-child-right {
  margin-right: 30px;
  margin-left: auto;
}


div.content.custom > main > section > div > div > div > h3 {
  margin-top: 0px;
  margin-bottom: 0px;  
  font-weight: 900;
}

.bar-footer {
  padding: 14px 0;
  padding-right: 30px;
  background: $back-darkest;
  .is-dark-gray {
    color: white;
  }
  div.container {
    padding: 0px;
    margin-left: 20px;
  }
}

.bar-footer-entry > a {
  color: #c8cbce;
}

.bar-footer-inner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.bar-footer-entry {
  margin-left: 10px;
  padding-right: 20px;
  font-size: 10px;
  text-align: center;
}

.bar-footer-entry-right {
  align-items: flex-end;
  margin-left: auto;
}

.bar-footer.container {
  padding: 0px;
}
// ########### /END FOOTER

// ########### BEGIN CONTENT

// ########### /END CONTENT

.hero-main .hero-title {
  color: #fff;
  font-weight: 700;
  font-size: 47px;
  text-align: left;
  line-height: 45px;
  @media (max-width: $screen-md-min){
    padding-top:1em;
    font-size: 30px;
    line-height: 34px;
  }
  @media (max-width: $screen-sm-min){
    padding-top:0em;
  }
}
 
.hero-entry {
  font-size: 14px;
  max-width: 350px;
  margin-top: 20px;
  font-weight: 400;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 21px;
}

.hero-subhead {
  padding-bottom: 5px;
  font-size: 18px;
  color: #EE1E48;
  font-weight: 500;
  font-size: 22px;
  color: #EC1944;
}

.nav .nav-menu a {
  font-weight: 500;
  font-size: 15px;

}

.button-red {
  border-radius: 0px;
  font-weight: 500;
  font-size: 15px;
}

.button {
  border-radius: 0px;
  font-weight: 500;
  font-size: 15px;
}


// ###### NESTED MENU

.dropdown {
  .button {
    padding: 0px;
    transition: background 0.3s;
    border-radius: 0px;
    margin-top: unset;
    background-color: unset;
    border: unset;
    color: $white;   
    cursor: default;
    @media (max-width: 769px) { //small screen pantalla 
      color: #133E68;
    } 
  }
  .dropdown-content {
    background-color: $white;
    color: $back-darkest;
    border-radius: 0px;
    box-shadow: 0 2px 3px rgba(34, 34, 34, 0.1), 0 0 0 1px rgba(34, 34, 34, 0.1);
    padding-bottom: 0.5rem;
    padding-top: 2.5rem;
    margin-top: 22px;
    height: 267px;
    left: 50%;
    @media (max-width: 769px) { //small screen pantalla 
      margin-top: 5px;
    } 
    a span {
      color: #133E68;
      border-bottom: 2px solid $white;
      margin-top: 15px;
      margin-bottom: 5px;
      padding-bottom: 7px;
      padding-top: 10px;
      font-size: 13px;
    }

    a {
      padding-left: 33px;
    }


    a:hover span {
      border-bottom: 2px solid #133E68;
    }
    
    .menuitemeffect {
      height: 49px;
      @media (max-width: 769px) { //small screen pantalla 
        height: 30px;
      } 
    } 

    &:after { /* arrow */
      // bottom: 70%;
      top: -2px;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(255, 255, 255, 0);
      border-bottom-color: $white;
      border-width: 20px;
      margin-left: -30px;
    }

  }
}


.nested-menu-image {
  display: none;  
  height: 0px;
  img {
    margin-left: -428px;
    height: 268px;
    max-width: unset;
    margin-top: -35px;
  }
}

.dropdown.is-active .dropdown-menu, .dropdown.is-hoverable:hover .dropdown-menu {
  display: block;
  left: calc( 50% - 110px );
  width: 240px;
  .nested-menu-image {
    display: block;  
    @media (max-width: 1024px) { //small screen pantalla 
      display: none;  
    } 
  }
}
