/* ------------------------------------------------------------ *\
    PROJECTS
\* ------------------------------------------------------------ */

// ############ project hero

.project-background {
  background-image: url("/images/background-shapes-blue.svg");
  background-size: cover;
  min-height: unset;
  overflow: visible;
}

.hero-project-content {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  .hero-project-title {
    color: $white;
    font-size: 35px;
    text-transform: uppercase;
  }
  .hero-project-entry {
    text-align: center;
    max-width: 700px;
    font-size: 17px;
  }
}

.hero-project-content2 {
  margin-top: 30px;
  .hero-project-title {
    color: $white;
    font-size: 25px;
  }
}

// ############ projects section 1

.projects-s1-main {
  color: $white;

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
  }
}

.projects-s1-container {
  background-color: $white;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-flow: wrap;
  width: 95%;
  margin: 30px auto;
  @media (max-width: $screen-md) {
    //small screen
    width: unset;
    margin: unset;
    margin-top: 20px;
    padding-top: 50px;
  }
  &:last-child {
    margin-bottom: 50px;
  }
}

.projetcs-s1-container-child {
  margin-top: 30px;
  color: $primary;
  margin-bottom: 30px;
  padding-bottom: 50px;

  h2 {
    color: $primary;
  }
  h3 {
    color: $dark-gray;
    font-size: 16px;
  }
  p {
    color: $back-darkest;
  }
  .columns {
    margin-top: 30px;
    .column {
      padding: 0 2em;
      p {
        font-size: 14px;
        img {
          max-width: 30px;
          margin-right: 7px;
        }
      }
      &:last-child {
        border-left: 2px solid $back-darkest;
        @media (max-width: 776px) {
          border-left: none;
          margin-top: 2em;
        }
      }
      a {
        color: $back-darkest;
        &:hover,
        &:focus {
          text-decoration: underline;
        }
      }
    }
  }

  @media (max-width: $screen-md) {
    //small screen
    margin-top: unset;
  }
  @media (max-width: $screen-sm-min) {
    padding-left: 1em;
    padding-right: 1em;
  }
  .is-6 {
    @media (max-width: $screen-sm-min) {
      width: 100%;
    }
  }
}

#projects-s2-h3 {
  color: #65c7c2;
}
#projects-s2-btn {
  background-color: #65c7c2;
  color: $white;
  border: 0 !important;
  &:hover {
    background-color: darken(#65c7c2, 20%);
    border: 0 !important;
  }
}

#projects-s3-h3 {
  color: #f05c3f;
}
#projects-s3-btn {
  background-color: #f05c3f;
  color: $white;
  border: 0 !important;
  &:hover {
    background-color: darken(#f05c3f, 20%);
    border: 0 !important;
  }
}

#projects-s4-h3 {
  color: #685bc7;
}
#projects-s4-btn {
  background-color: #685bc7;
  color: $white;
  border: 0 !important;
  &:hover {
    background-color: darken(#685bc7, 20%);
    border: 0 !important;
  }
}

#projects-s5-h3 {
  color: #071d49;
}
#projects-s5-btn {
  background-color: #071d49;
  color: $white;
  border: 0 !important;
  &:hover {
    background-color: darken(#071d49, 20%);
    border: 0 !important;
  }
}

.button-white {
  border: 0px;
  color: #133e68;
  &:hover {
    background-color: #ee1e48;
    border: 0;
    color: #133e68;
  }
}

// ############ projects section 2

.projects-s2-main,
.companies-s2-main {
  margin-top: 0px;
  padding-top: 70px;
  padding-bottom: 70px;
  color: $white;
  background-color: #39ba9c;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    max-width: 850px;
  }

  .itemtitle {
    color: $white;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 40px;
    font-size: 2rem;
    text-transform: uppercase;
  }
  .fix-h5 {
    color: white;
  }
  p {
    max-width: 500px;
  }
}

.projetcs-s1-container-child {
  .button-red {
    width: 100%;
    &.projects-btn {
      margin-top: 0;
    }
  }
}
.projects-s1-main {
  margin-bottom: 1.7em;
}
