/* ------------------------------------------------------------ *\
    PROJECTS
\* ------------------------------------------------------------ */


// ############ project hero

.project-background {
    background-image:url('/images/background-shapes-blue.svg');
    background-size: cover;
    min-height: unset;
  }
  
  .hero-project-content {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    .hero-project-title {
      color: $white;
      font-size: 35px;
    }
    .hero-project-entry {
      text-align: center;
      width: 400px;
    }
  }
  
  .hero-project-content2 {
    
    margin-top: 30px;
    .hero-project-title {
      color: $white;
      font-size: 25px;
    }
  
  }
  
  // ############ projects section 1
  
  .projects-s1-main {
    color: $white;
  
    .itemtitle {
      color: $white;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 80px;
    }
  }
  
  .projects-s1-container {
    background-color: $white;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-flow: wrap;
    width: 95%;
    margin: 80px;
    margin-top: 20px;
    @media (max-width: $screen-md) { //small screen
      width: unset;
      margin: unset;
      margin-top: 20px;
      padding-top: 50px;
    }
  }
  
  .projetcs-s1-container-child {
    
    margin-top: 100px;
    max-width: 500px;
    color: $primary;
    margin-bottom: 30px;
    padding-bottom: 50px;
  
    h2 {
      color: $primary;
    }
    h3 {
      color: $dark-gray;
      font-size: 16px;
    }
    p {
      color: $back-darkest;
    }
    .columns {
      width: 750px;
      margin-top: 30px;
      .column {
        p {
          font-size: 14px;
          img {
            max-width: 40px;
            margin-right: 7px;
          }
        }
        &:last-child {
          border-left: 2px solid $back-darkest;
        }
        a {
          color: $back-darkest;
        }
      }
    }
  
    @media (max-width: $screen-md) { //small screen
      padding-left: 70px;
      padding-right: 70px;
      margin-top: unset;
      padding-bottom: unset;
    }
  }
  
  #projects-s2-h3 {
    color: #65C7C2;
  }
  #projects-s2-btn {
    background-color: #65C7C2;
    color: $white;
    border-color: #65C7C2;
  }
  
  #projects-s3-h3 {
    color: #F05C3F;
  }
  #projects-s3-btn {
    background-color: #F05C3F;
    color: $white;
    border-color: #F05C3F;
  }
  
  #projects-s4-h3 {
    color: #685BC7;
  }
  #projects-s4-btn {
    background-color: #685BC7;
    color: $white;
    border-color: #685BC7;
  }
  
  #projects-s5-h3 {
    color: #071D49;
  }
  #projects-s5-btn {
    background-color: #071D49;
    color: $white;
    border-color: #071D49;
  }
  
  // ############ projects section 2
  
  .projects-s2-main {
    margin-top: 0px;
    padding-top: 40px;
    padding-bottom: 50px;
    color: $white;
    background-color: #39ba9c;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  
    .itemtitle {
      color: $white;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 0px;
    }
    p {
      max-width: 500px;
    }
  }